<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="djpiper28.mtgnewsapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:rotationAnimation="seamless"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ThirdPartyLibraries"
            android:clearTaskOnLaunch="true"
            android:label="@string/third_party_libraries"
            android:resizeableActivity="true"
            android:screenOrientation="fullUser">
            <layout
                android:defaultWidth="600dp"
                android:defaultHeight="500dp"
                android:gravity="top|end"
                android:minWidth="300dp"
                android:minHeight="450dp" />
        </activity>

        <activity
            android:name="djpiper28.settings.SettingsActivity"
            android:clearTaskOnLaunch="true"
            android:label="@string/title_activity_settings"
            android:resizeableActivity="true"
            android:screenOrientation="fullUser">
            <layout
                android:defaultWidth="600dp"
                android:defaultHeight="500dp"
                android:gravity="top|end"
                android:minWidth="300dp"
                android:minHeight="450dp" />
        </activity>

        <activity
            android:name="djpiper28.mtgnewsapp.cardpreview.CardPreviewHostActivity"
            android:clearTaskOnLaunch="true"
            android:label="MTG News App - Set Preview"
            android:resizeableActivity="true"
            android:screenOrientation="fullUser">
            <layout
                android:defaultWidth="600dp"
                android:defaultHeight="500dp"
                android:gravity="top|end"
                android:minWidth="300dp"
                android:minHeight="450dp" />
        </activity>

        <activity
            android:name=".CardPreviewActivity"
            android:clearTaskOnLaunch="true"
            android:label="MTG News App - Set Preview"
            android:resizeableActivity="true"
            android:screenOrientation="fullUser">
            <layout
                android:defaultWidth="600dp"
                android:defaultHeight="500dp"
                android:gravity="top|end"
                android:minWidth="300dp"
                android:minHeight="450dp" />
        </activity>

        <activity
            android:name=".ArticleViewActivity"
            android:clearTaskOnLaunch="true"
            android:label="MTG News App - View Article"
            android:resizeableActivity="true"
            android:screenOrientation="fullUser">
            <layout
                android:defaultWidth="600dp"
                android:defaultHeight="500dp"
                android:gravity="top|end"
                android:minWidth="300dp"
                android:minHeight="450dp" />
        </activity>

        <activity
            android:name=".LoadingScreen"
            android:clearTaskOnLaunch="true"
            android:label="@string/app_name"
            android:resizeableActivity="true"
            android:screenOrientation="fullUser">
            <layout
                android:defaultWidth="600dp"
                android:defaultHeight="500dp"
                android:gravity="top|end"
                android:minWidth="300dp"
                android:minHeight="450dp" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <service
            android:name=".NewsUpdateService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"/>

    </application>

</manifest>